body {
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(https://images.unsplash.com/photo-1615800098779-1be32e60cca3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2620&q=80);
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  min-height: 80px;
  font-size: 1.5em;  
}

.navbar-brand {
  padding: 0 15px;
  height: 60px;
  line-height: 60px;
  font-size: 1.4em;
  display: inline;
  margin-left: auto;
  margin-right: auto;
}

.nav-div{
  background-color: rgba(0, 0, 0, 0.109);
  border-radius: 30px;
}
 
.nav-buttons{
  margin-left: 20px;
    /* background-color: rgba(0, 0, 0, 0.109); */
  border-radius: 0px 0px 30px 30px;
  margin-top: 30px;
  box-shadow: 2px;
} 

.nav-but:hover{
transform: scale(1.1);
}